<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>チャットアプリ</h1>
    <form th:action="@{/ex-16/post}" method="post">
    <span>名前：<input type="text" name="name"></span><br>
    <span>コメント：<br>
        <textarea name="remarks" rows="5" cols="50"></textarea></span><br>
    <button>投稿！</button>
    
    <hr>
    <span th:each="user : ${application.posts}">
        <span th:text="${user.name}"></span>さんの発言<br>
        <span th:text="${user.remarks}"></span><br>
        <hr>
    </span>
    </form>
    
    
    
</body>
</html>